@use postcss-nested;
:root {
  --neutral000: #ffffff;
  --neutral100: #F7F8F8;
  --neutral200: #E9EBEB;
  --neutral400: #A3A9AC;
  --neutral500: #7D8589;
  --neutral800: #2D3B41;
  --neutral900: #0E1E25;
  --neutral999: #000000;
  --teal800: #007A70;
  --gold500: #F6BC00;
  --appBackground: #F6FAFB;
  --systemFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
}

body {
  background-color: var(--appBackground);
  width: 100vw;
  height: 100vh;
  font-family: var(--systemFont);
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  margin-bottom: 16px;
}

.skip-link {
  right: -10%;
  position: absolute;
  transform: translateY(-100%);
  &:focus {
    transform: translateY(50%);
  }
}

.app-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1230px;
  margin: auto;
  padding: 0 8px;
}

header {
  position: sticky;
  top: 0;
  display: block;
  padding-top: 8px;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 16px;
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--appBackground);
    filter: blur(10px);
  }
}

nav {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  background-color: var(--neutral900);
  border-radius: 8px;
  color: var(--neutral500);
  box-shadow: 0 2px 2px 0 rgba(14,30,37,0.16);
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "teamArea linksArea profileArea"
    ". . .";

  & ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    & li {
      list-style: none;
      font-size: 1.14em;
      font-weight: 600;
      line-height: 24px;
      margin: 0;
    }
  }
  & .app-navigation-items > li {
    margin-right: 16px;
  }
  & .account-items > li {
    margin-left: 16px;
  }
}

nav.level-site,
nav.level-team {
  @media (max-width: 780px) {
    grid-row-gap: 16px;
    grid-template-areas:
    "teamArea . profileArea"
    "linksArea linksArea linksArea";
  }
}

.app-navigation-items {
  grid-area: teamArea;
}

.account-items {
  grid-area: profileArea;
  justify-self: end;
}

.level-site .navigation-links {
  white-space: nowrap;
}

ul.navigation-links {
  grid-area: linksArea;
  justify-self: start;

  & > li {
    margin-left: 0;
    margin-right: 8px;
  }

  & a {
    display: inline-block;
    background-color: transparent;
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      background-color: var(--neutral999);
      cursor: pointer;
    }

    &.active {
      color: var(--neutral000);
    }
  }

  @media (max-width: 780px) {
    width: 100%;
    overflow-x: scroll;
    /* Moving the scrollbar away from sight 😎 */
    padding-bottom: 24px;
    margin-bottom: -24px;

    & li:last-child {
      padding-right: 40px; /* To make sure you can scroll if enough to be visible (escape the top gradient) */
    }

    &::before, &::after {
      display: block;
      content: "";
      position: absolute;
      height: 36px;
    }

    &::after {
      width: 64px;
      right: 0;
      background-image: linear-gradient(to right, rgba(14, 30, 37, 0), var(--neutral900) 80%);
    }

    &::before {
      width: 24px;
      left: 0;
      background-image: linear-gradient(to left, rgba(14, 30, 37, 0), var(--neutral900) 40%);
    }
  }
}

.active {
  color: var(--neutral000);
}

.logo {
  display: block;
  height: 36px;
  width: 36px;
  background-image: var(--logo);
  background-position: center 0;
  border-radius: 6px;

  &:hover,
  &:active {
    background-color: var(--neutral999);
  }
}

.avatar {
  display: block;
  width: 36px;
  height: 36px;
  padding: 0;
  background-image: var(--avatar);
  background-size: cover;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--neutral800);

  &:hover,
  &:active {
    cursor: pointer;
  }
}

.notifications-icon {
  display: block;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  background-image: var(--notification-icon);
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: var(--neutral999);
  }
}

.button {
  /* Should extend typographic style of h5.emphasis */
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #0E1E25;
  align-self: center;
  border: none;
  border-radius: 6px;
  outline: 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  padding: 8px;
  min-width: 36px;
  max-height: 36px;
  position: relative;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.team-switcher {
  background-color: var(--neutral800);
  color: var(--neutral000);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:active {
   background-color: var(--neutral999);
  }
}

.team-switcher svg {
  position: relative;
  top: -2px;
  margin-left: 4px;
}

.back-link + li::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  right: 0;
  top: 4px;
  margin-right: 8px;
  background-image: var(--caret-right-icon);
  background-position: center;
}

.hidden {
  display: none;
}

.list-of-cards {
  display: block;
  width: 100%;
}

.card {
  background: var(--neutral000);
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(14,30,37,0.12);
}

main {
  position: relative;
  display: flex;
  flex-direction: row;

  @media (max-width: 780px) {
    flex-direction: column;
  }

  & .card {
    display: block;
    width: 100%;
    height: 424px;
    margin-bottom: 16px;
  }
}

aside {
  display: block;
  position: sticky;
  top: 104px;
  width: 164px;
  height: 404px;
  margin-right: 40px;
  background: var(--neutral200);
  border-radius: 8px;

  @media (max-width: 780px) {
    width: 100%;
    height: 36px;
    margin-bottom: 8px;
  }
}

footer {
  position: fixed;
  padding-left: 8px;
  width: 100%;
  bottom: 8px;

}